*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    color: white;

    --border-logo: to right, hsla(255, 96%, 72%, 1), hsla(159, 77%, 58%, 1), hsla(54, 70%, 62%, 1);
    
    --bg-card: hsla(257, 16%, 18%, 1);

    --SbTitle-color: #A1A1AA;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;

    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    background: url(./assets/bg.jpg) no-repeat top center/cover;
}

.container{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 58rem;
    margin: 6.4rem auto;
}
header{
    width: 100%;
    text-align: center;
    position: relative;
}

#bgUser{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#imgUser{
    width: 12.4rem;
    padding: .4rem;
    border-radius: 100%;
    background: linear-gradient(var(--border-logo));
    margin-bottom: 3.2rem;
}

#cards{
    width: 100%;
}

.card-wrapper{
    border-radius: 1rem;
    background: linear-gradient(var(--border-logo));
    padding-top: .4rem;
}
.card{
    border-radius: .8rem;
    padding: 2.4rem clamp(1rem, 5vw, 3.2rem)  3.2rem;
    background: var(--bg-card);
}

.card h2{
    line-height: 160%;
    letter-spacing: -0.47px;
}

.card p{
    line-height: 160%;
    letter-spacing: -0.18px;
    margin-bottom: 2.4rem;

    color: var(--SbTitle-color);
}

.card .games{
    display: grid;
    gap: 1.6rem;
    grid-template-areas: 
    'A B C D E'
    ;
    justify-content: start;
}

.games img{
    border-radius: .8rem;
    width: 9rem;

    transition: all 0.2s;
}

.games img:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 5px hsla(255, 96%, 72%, 1);
}

@media (max-width: 47.938em){
    .container{
        width: 95%;
    }

    #bgUser{
        top: 31%;
    }

    .card .games{
        grid-template-areas: 
        'A B'
        ;
        place-items: center;
    }

    .games img{
        border-radius: .8rem;
        width: 90%;
    
        transition: all 0.2s;
    }
}